<!DOCTYPE html>
<html>
  <head>
    <title>GGKOIN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'page/navbar' %>
    <%= render 'page/left_navbar.html.erb' %>
    <%= render 'page/right_navbar.html.erb' %>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
